<h1><%= @artist.name %></h1>

<ul>
  <% @artist.songs.each do |song| %>
    <li><%= link_to song.title, song_path(song) %></li>
  <% end %>
</ul>



  it "links to the artist's songs by title" do
    visit artist_path(@artist)
    expect(page).to have_link("The Grid", href: song_path(@grid))
  end

  it "lists all of the artist's songs" do
    visit artist_path(@artist)
    within("ul") do
      expect(page).to have_content("The Grid")
      expect(page).to have_content("Voyager")
    end
  end