<h1><%= @song.title %></h1>
binding.pry
<p><%= link_to @song.artist_name, artist_path(@song.artist) %></p>


  # it "links to the artist" do
  #   visit song_path(@song)
  #   expect(page).to have_link("Daft Punk", href: artist_path(@artist))
  # end

